x64
bin

!CherryCrisis/x64
CherryCrisis/x64/*/*
!CherryCrisis/x64/*/*.dll
!Assets
!Internal
!imgui.ini
!CherryScriptInterface.dll
!lib
!Properties
!ProjectKit
!CherryScripting.csproj
!CherryScripting.sln

*.user
.vs

*.o
*.d

.vscode

doc/html

CherryCrisis/CherryScriptInterface/obj