x64
bin

!CherryCrisis/x64
CherryCrisis/x64/*/*
!Assets
!Internal
!imgui.ini
!Properties
!CherryScripting.csproj
!CherryScripting.sln

*.user
.vs

*.o
*.d

.vscode

doc/html

CherryCrisis/CherryScriptInterface/obj